h1 {
    color: blueviolet;
display: inline;
}
a {
    display: block;
}
.text {
    background-color: beige;
    background-color: aquamarine;
}
.important {
    background-color: coral;
}
.content {
    font-weight: bold;
}